<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{app.name}"></title>

</head>

<body>

<!--Main layout-->
<div layout:fragment="content">

    <div class="container text-center mt-5">

        <!--Top Table UI-->
        <div class="card card-cascade narrower mt-5">

            <!--Card image-->
            <div class="view view-cascade gradient-card-header peach-gradient narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center">

                    <h4 class="white-text font-weight-bold text-uppercase mb-0" th:text="#{total.category}">Book list</h4>
                <a type="button" href="/add-test" class="btn-floating peach-gradient " style="position: absolute;right: 10px; margin-top: -5px"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
            <!--/Card image-->

            <div class="px-4">

                <!--Table-->
                <table class="table table-hover table-responsive-md mb-0">

                    <!--Table head-->
                    <thead>
                    <tr>
                        <th class="th-lg" th:text="#{table.id}">ID</th>
                        <th class="th-lg" th:text="#{table.title}">Title</th>
                        <th class="th-lg" th:text="#{table.action}">Action</th>
                    </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    <tr th:each="book: ${books}" th:object="${book}">
                        <td  th:text="*{id}">Id</td>
                        <td th:text="*{name}">Category Name</td>
                        </td>
                        <td>
                            <a class="icons-sm so-ic text-primary" th:href="@{/update-category/{book_id}(book_id=${book.getId()})}"><i class="fa fa-pencil fa-2x  waves-effect"> </i></a>
                            <a class="icons-sm so-ic text-danger delete-btn" th:attr="data-id=${book.getId()}" data-toggle="modal" data-target="#modalConfirmDelete"><i class="fa fa-close fa-2x  waves-effect"> </i></a>
                        </td>
                    </tr>
                    </tbody>
                    <!--Table body-->
                </table>

            </div>

            <hr class="my-0">

            <!--Bottom Table UI-->
            <div class="d-flex justify-content-center">

                <!--Pagination -->
                <nav class="my-4 pt-2">
                    <ul class="pagination pagination-circle pg-purple mb-0">

                        <!--First-->
                        <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link">First</a></li>

                        <!--Arrow left-->
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <!--Numbers-->
                        <li class="page-item active "><a class="page-link peach-gradient">1</a></li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item"><a class="page-link">3</a></li>
                        <li class="page-item"><a class="page-link">4</a></li>
                        <li class="page-item"><a class="page-link">5</a></li>

                        <!--Arrow right-->
                        <li class="page-item">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>

                        <!--First-->
                        <li class="page-item clearfix d-none d-md-block"><a class="page-link">Last</a></li>

                    </ul>
                </nav>
                <!--/Pagination -->

            </div>
            <!--Bottom Table UI-->

        </div>




    </div>


    <!--Modal: modalConfirmDelete-->
    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm modal-notify modal-danger" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Are you sure?</p>
                </div>

                <!--Body-->
                <div class="modal-body">

                    <i class="fa fa-times fa-4x animated rotateIn"></i>

                </div>

                <!--Footer-->
                <div class="modal-footer flex-center">
                    <a class="btn  btn-outline-danger delete">Yes</a>
                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

</div>
<!--Modal: modalConfirmDelete-->
</div>
<!--/Main layout-->


<script layout:fragment="script">
    $(document).ready(function () {
        var data_id;
        $('body').on('click', '.delete-btn', function () {
            data_id = $(this).attr("data-id");
        });
        $('body').on('click', '.delete', function () {
            $('.modal').modal('hide');
            $.ajax({
                url: "/remove-category/" + data_id,
                method: 'GET',
                success: function (data) {
                    $('.delete-btn[data-id=' + data_id + ']').parentsUntil('tbody').remove();
                    toastr["success"]("Successfully Deleted!");
                },
                error: function () {
                    toastr["error"]("Error!");
                }
            });

        });


    });
</script>

</body>

</html>
