<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{app.name}"></title>
</head>

<body>

<div layout:fragment="content">
    <div class="container text-center">
        <hr>
        <h2 class="font-weight-bold mt-5 mb-5" th:text="#{welcome}">Welcome to book managemetn system</h2>
        <hr>
        <div class="row text-center justify-content-md-center mt-5 mb-5">
            <div class="col-md-5 rounded-top">
                <h2 th:text="#{total.book}">Total Books</h2>
                <h1 class="font-weight-bold mt-5 mb-5" th:text="${count_book}">150</h1>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" class="btn btn-amber btn-rounded" href="/create" th:text="#{add}">Add More</a>
                    <a type="button" class="btn btn-amber btn-rounded" href="/book" th:text="#{view.all}">View All</a>
                </div>
            </div>
            <div class="col-md-5 rounded-top">

                <h2 th:text="#{total.category}">Total Categorize</h2>
                <h1 class="font-weight-bold mt-5 mb-5" th:text="${count_category}">150</h1>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" class="btn btn-info btn-rounded" href="/add-test" th:text="#{add}">Add More</a>
                    <a type="button" class="btn btn-info btn-rounded" href="/all-category" th:text="#{view.all}">View
                        All</a>
                </div>
            </div>

        </div>
    </div>

</div>
</div>
</body>
</html>
